* text=auto
Dockerfile text eol=lf
entrypoint.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cfg text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.json text eol=lf
*.pk3 binary
